body{
  width: 1000px;
  margin: 0 auto;
}

.headDiv{
  width: 800px;
  height: 100px;
background-image: url(/images/200by70.png);
background-repeat: no-repeat;
text-align: right;
line-height: 65px;
font-size: larger;
margin-right: 120px;
}
main{
  background-image: url(/images/960by450.png);
  background-repeat: no-repeat;
  height: 480px;
}
div{
  background-image: url(/images/300x375.png);
  background-repeat: no-repeat;
  height: 400px;
}
section{
  display: flex;
  
}
.divOne{
  flex: 1;
  background-image: url(/images/300x375.png);
  background-repeat: no-repeat;
  height: 400px;
}
.divTwo{
  flex: 1;
  /* margin-right: 200px; */
}
.divThree{
  /* height: 400px; */
  flex: 1;
  /* float: right; */
}
footer{
  /* display: flex; */
}
article{
  float: right;
  overflow: auto;
  width: 450px;
  height: 300px;
  /* flex: 2; */
}
figure{
  background-image: url(/images/480x400.png);
  background-repeat: no-repeat;
  height: 410px;
  /* flex: ; */
  /* margin-right: 500px; */
}
button{
  top:150%;
       left:52%;
       width:150px;
       height:35px;
       position: absolute;
       /* z-index: 2; */
       /* background: orange */
}